



        <section>
            <div class="divsec">
                <h2>Welcome to the Results page</h2>

                <p>The results are in and finally we can put an end to idle speculation, gossip and conjecture. The numbers do not lie.</p>

                <p>First off please remember you can leave comments and post images at the bottom of the <a href="index.html">home page</a>.</p>

                <div class="moreaudio">
                    <h2>Results Musique</h2>

                    <p>Treat yourself to some soothing background music while you peruse the results? You can play them one at a time or if you're feeling creative trying mixing them together. <span>this feature may be unavailable to mobile users</span></p>
                    <audio src="media/batman-theme-song.mp3" controls autoplay loop></audio> <audio src="media/batman-theme-song.mp3" controls autoplay loop></audio>
                    <audio src="media/batman-theme-song.mp3" controls autoplay loop></audio> <audio src="media/batman-theme-song.mp3" controls autoplay loop></audio>
                </div>
            </div>
        </section>

        <section class="results">
            <div class="divsec">
                <h2>Results!!!</h2>

                <p>From the first question we can see something of trend emerging. There was no fence-sitting in this group of pollsters. Everyone answered and did so unambiguously.</p>

                <p><img src="img/attending.JPG" alt=""></p>

                <p>In the next section we see a division of opinion:</p>

                <p><img src="img/graph-1.JPG" alt="The graph showing the votes in percentage"></p>

                <p>The polls have closed, the results are in. It's been an astonishing result with a lot of divided opinions. The turnout was extremely high, dwarfing that of the general election. But as the smoke clears and the dust begins to settle we can see that this was battle won by an adversary hell bent on nothing less than total obliteration. <a href="results.html">Read more...</a> </p>

                <iframe src="https://www.surveymonkey.co.uk/r/M5QLPLL" frameborder="0"></iframe>
            </div>
        </section>
        <section>
            <p>Thank you for participating.</p>
        </section>

