<!DOCTYPE html>
<html lang="en">

{{ partial "head" . }}

<body class="{{.Section}}">
    {{/*  {{ partial "batlogo" . }}  */}}
    
    <div class="container">

        {{ partial "header" . }}

        <main>{{ block "main" . }}{{ end }}</main>
    
        {{ partial "footer" . }}
    </div>
    
</body>
</html>