
        {{ define "main" }}

        <ul>
        {{ range .Pages }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>

        {{ .Content }}

        {{ end }}