@import url('https://fonts.googleapis.com/css?family=Arvo:700|Arvo:400');


*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --headerColor: #007faa;
    --black: #242424;
}
/* -- TYPE SCALE CODE HERE  */
html {
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    /* background-color: rgb(237, 242, 242); */
    --c: rgba(255, 255, 255, 0.7);
    --t: transparent;
    background-image:
        repeating-linear-gradient(45deg, var(--c) 0, var(--c) 20px, var(--t) 20px, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 68px, var(--t) 80px, var(--c) 0),
        repeating-linear-gradient(-45deg, var(--c) 0, var(--c) 20px, var(--t) 20px, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 68px, var(--t) 80px, var(--c) 0),
        linear-gradient(to bottom right, #FC354C, #0ABFBC);

    background-attachment: fixed;

    font-family: 'Arvo', sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: var(--black);
    margin: 0;
}

p {
    margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 2.75rem 0 1rem;
    font-family: 'Arvo', arial, sans-serif;
    font-weight: 700;
    line-height: 1.15;
    color: var(--headerColor);
    letter-spacing: -3px;
    text-shadow: 3px 3px 0 #fafafa,
        5px 5px 0 #007faa;
    text-wrap: balance;
}

h1 {
    margin-top: 0;
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}
h6 {
    line-height: 1;
    font-size: 3em;
    margin: 0 0 2.3em 0;
}
#when + p {
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: currentColor;
}
small,
.text_small {
    font-size: 0.8em;
}

/* --- END TYPE SCALE --- */



html,
body {
    height: 100%;
}

.container {
    max-width: 1466px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #fafafa;
}

img[alt="The last supper"] {
    width: 100%;
}

header {
    padding-top: 2.5em;
}
header > *:not(.last-supper),
main,
footer {
    padding: 3em;
}
footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    background-color: #181818;
    color: #ccc;
}
footer .top {
text-align: center;
}
footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
img[alt="Maveli"] {
    float: right;
    margin-left: 3em;
}


.restaurants {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-template-rows: 1fr auto auto;
    gap: 1em;
    font-size: 0.75em;
    & h3 {
        text-shadow: none;
        margin: 0;
        font-size: 1.5em;
        letter-spacing: 0.0001em;
    }
    & p {
        margin: 0;
    }

    & li {
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        grid-row: span 4;
    }

    & a {
        display: block;
        height: 100%;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        grid-row: span 4;
        padding: 1em;
        border: solid 2px #ccc;
        border-radius: 10px;
        transition: 0.5s;
    }
    & a:hover {
        border-color: red;
    }
}


.updates {
    background-color: #f1f1f1;
}



.updates p::before {
    content: 'UPDATE: ';
    font-style: normal;
    color: red;
}

.updates p b {
    text-transform: uppercase;
    color: #555;
}

.audio {
    display: none;
}

.moreaudio p>span,
.audio p>span {
    color: rgba(253, 24, 24, 0.774);
    font-variant: small-caps;
}

.results img {
    /* width: 100%; */
    max-width: 802px;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.336);
}



/* ---Batlogo --- */

.batlogo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    overflow: hidden;
    background-color: hsla(206, 16%, 91%, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: boxShrink .7s ease 1.8s 1 forwards;
    z-index: 100;
}


/* .batlogo svg {
    width: 99vw;
    height: 99vh; these set the svg viewport size 
    margin: auto;
    border: solid 5px fuchsia; /* this marks the viewport of the svg
} */

.batlogo img {
    animation: batlogo .35s ease-in-out 1s 2 alternate both;
}

h1 img {
    width: 70px;
    display: inline-block;
    margin-bottom: -22px;
    margin-left: 25px;
}

header>h1 span {
    text-shadow: none;
    /* font-family: arial, helvetica, sans-serif; */
    font-size: .7em;
    position: relative;
    top: -12px;
    left: 3px;
}
.dn {
    display: none;
}

video {
    max-width: 100%;
    object-fit: contain;
}

[alt="Maveli"] {
    transform: rotate(-10deg);
    width: 15vw;
    min-width: 175px;
    max-width: 500px;

}


@keyframes batlogo {
    0% {
        transform: scale(.001);
    }

    100% {
        transform: scale(1.8);
    }
}

@keyframes boxShrink {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.001) rotate(270deg);

    }
}




/* ====== QUIZ SECTION ====== */

ol.quiz {
    margin-top: 4em;
    column-count: 2;
    column-width: 300px;
    column-gap: 4em;
}
ol.quiz li {
    break-inside: avoid;
    cursor: help;
}
ol.quiz li:first-child p {
    margin-top: 0;
}

ol.quiz li em {
    opacity: 0;
    transition: 2.5s;
}
ol.quiz li:hover em {
    opacity: 1;
}

ol > li > ol {
    list-style-type: lower-alpha;
}

/* ======== MEDIA QUERIES ========= */

@media (min-width: 820px) {

    html {
        font-size: 22px;
    }

    /* header, */
    section:nth-of-type(1n+2) {
        padding: 3em 5em 2rem 6em;
    }

    .audio {
        display: block;
    }


}