        <section class="audio">

            <div class="divsec">
                <h2>Musique</h2>

                <p>Get into the festive spirit with a selection of tunes. You can play them one at a time or if you're feeling creative trying mixing them together. <span>this feature is not available to mobile users</span></p>
                <audio src="media/batman-theme-song.mp3" controls autoplay loop></audio> <audio src="media/batman-theme-song.mp3" controls autoplay loop></audio>
                <audio src="media/batman-theme-song.mp3" controls autoplay loop></audio> <audio src="media/batman-theme-song.mp3" controls autoplay loop></audio>
            </div>

        </section>