
    <figure class="batlogo">
        <img src="img/batlogo.svg" alt="batman logo">
        <!-- <svg viewBox="0 0 735.8 700.3" xml:space="preserve"><use href="#batlogo"></use></svg> -->
    </figure>

