        <section class="video">

            <div class="divsec">
                <h2>What’s this?</h2>

                <p>Today’s villains ain’t what they used to be.</p>
                <video controls>
                    <source src="media/umbrella.mp4">
                    Damn!. Your browser does not support the video tag.
                </video>


                <h2>A Feline Devil</h2>

                <p>Before video existed it was possible to slip in random one liners without an audience being able to review the evidence.</p>


                <video controls>
                    <source src="media/pussywillows-43.mp4">
                    Looks like your browser does not support the video tag.
                </video>
            </div>
        </section>