<footer>
    <div class="last-build">Site updated: {{ now.Format "2 Jan 06" }}<br>Hugo v{{ hugo.Version }}</div>
    
    <div class="top"><a href="#top">Back to top</a></div>

    {{/*  {{ partial "menu" (dict "nav_class" "footer-nav" "menuID" "main" "page" . ) }}  */}}
</footer>