<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ hugo.Generator }}
    <link rel="canonical" href="https://www.birthdaymeal.tk/index.html" />
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16" />
    
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    

    {{ with resources.Get "css/styles.css" }}
      <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}

    {{ with .Params.style }}
    <style>
      {{ . | safeCSS }}
    </style>
      {{ end }}
      
</head>