<header>
    <div class="divsec">
        
        <h1 id="top">Birthday Meal<span>™</span> <img src="/img/batlogo.svg" alt="batman logo"></h1>
        {{ with site.Params.next }}
        <div class="next">{{ . }}</div>
        {{ end }}
        
    </div>
    
    <section class="last-supper">
        {{ if .IsHome }}
        <img srcset="
        /img/Last-Supper-469.jpg 469w, 
        /img/Last-Supper-879.jpg 879w,
        /img/Last-Supper-1466.jpg 1466w" alt="The last supper">
        {{ end }}
    </section>
</header>