            <div id='map' style='width: 100%; height: 40vmax;'></div>

        <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoicml2aWxsIiwiYSI6ImNrNGFjcmQ2NjAxbmsza3MzM3VuaDg5eW0ifQ.MmQxPP3nSWDAfktxEEF4kw';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-1.482, 53.380],
            zoom: 17.18
            
        });

        </script>