<section class="quiz">
    {{ range site.Data.quiz_2021 }}
        <details>
        <summary><strong>{{ .section }}</strong><br> {{ .question | safeHTML }}</summary>
            <p>Answer: <em class="answer">{{ .answer }}</em></p>
        </details>
    {{ end }}
</section>