<ul class="restaurants">
    
    {{ range site.Data.restaurants }}
    <li>
    <a href="{{ .url }}">
        <h3>{{ .name }}</h3>
        <p>{{ .comment }}</p>
        {{ with .address }}
            <p>{{ .street }}, {{ .postcode }}</p>
        {{ end }}
        {{ with .tel }}
            <p>{{ . }}</p>
        {{ end }}

    </a>
    </li>
    {{ end }}
</ul>